@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

#rocket {
    width: 200px;
    height: 280px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('assets/1186-removebg-preview.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

#meter-container{
    position: absolute;
    display: flex;
    left: 5%;
    top: 2%;
    width: 25%;
    height: 20px;
    color: #fff;
    font-family: 'Darumadrop One', cursive;
    gap: 10px;
    font-size: 20px;
}

#fuel-meter {
    top: 45%;
    left: 0;
    height: 15px;
    width: 100%;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
} 

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#container {
    height: 900px;
    width: 600px;
    background-image: url('./assets/spacebg.png');
    background-repeat: repeat-y repeat-x;
    animation: scroll 10s linear infinite;
}

.score{
    position: absolute;
    display: flex;
    left: 75%;
    top: 2%;
    height: 20px;
    color: #fff;
    font-family: 'Darumadrop One', cursive;
    gap: 10px;
    font-size: 20px;
}

p{
    margin: 0;
}

/* @keyframes scroll {
    from {
        background-position: 0 -600px;
    }

    to {
        background-position: 0px 0px;
    }
} */

#player{
    position: relative;
    height: 20px;
    width: 20px;
    background-color: blue;
    display: flex;
    left: 50%;
    top: 90%;
}