/* html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#game-container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #000;
}


#rocket {
    width: 200px;
    height: 280px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('assets/1186-removebg-preview.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

#fuel-meter {
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: #fff;
} */

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#container {
    height: 900px;
    width: 600px;
    background-image: url('./assets/spacebg.png');
    background-repeat: repeat-y repeat-x;
    animation: scroll 10s linear infinite;
}

/* @keyframes scroll {
    from {
        background-position: 0 -600px;
    }

    to {
        background-position: 0px 0px;
    }
} */

#player{
    position: relative;
    height: 20px;
    width: 20px;
    background-color: blue;
    display: flex;
    left: 50%;
    top: 90%;
}