html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#game-container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #000;
}


#rocket {
    width: 200px;
    height: 280px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('assets/1186-removebg-preview.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

#fuel-meter {
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: #fff;
}